<body id="kt_body" class="header-tablet-and-mobile-fixed aside-enabled">
    <!--begin::Main
        
There are 2 new tasks for you in “AirPlus Mobile APp” project:
Added at 4:23 PM by
        -->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">

            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Post-->
                    <div class="post d-flex flex-column-fluid" id="kt_post">
                        <!--begin::Container-->
                        <div id="kt_content_container" class="container-xxl">
                            <div class="card mt-5 mt-xxl-8">
                            	<!--begin::Form-->
								<form class="form">
									<!--begin::Card-->
									<div class="card">
										<!--begin::Card header-->
										<div class="card-header">
											<!--begin::Card header-->
											<div class="card-title fs-3 fw-bolder">Projeto</div>
											<!--end::Card header-->
										</div>
										<!--end::Card header-->
										<!--begin::Card body-->
										<div class="card-body">
											<!--begin::Row-->
											<div class="row mb-8">
												<!--begin::Col-->
												<div class="col-xl-3">
													<div class="fs-6 fw-bold mt-2 mb-3">Percentagem</div>
												</div>
												<!--end::Col-->
												<!--begin::Col-->
												<div class="col-xl-9">
													<!--begin::Progress-->
													<div class="d-flex flex-column">
														<div class="d-flex justify-content-between w-100 fs-4 fw-bolder mb-3">
															<span>ALcance total 100%</span>
															<span>68% Completo</span>
														</div>
														<div class="h-8px bg-light rounded mb-3">
															<div class="bg-success rounded h-8px" role="progressbar" style="width: 68%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
														<div class="fw-bold text-gray-600">32% restantes</div>
													</div>
													<!--end::Progress-->
												</div>
												<!--end::Col-->
											</div>
											<!--end::Row-->
											<!--begin::Row-->
											<div class="row mb-8">
												<!--begin::Col-->
												<div class="col-xl-3">
													<div class="fs-6 fw-bold mt-2 mb-3">Status atual</div>
												</div>
												<!--end::Col-->
												<!--begin::Col-->
												<div class="col-xl-9">
													<!--begin::Row-->
													<div class="row g-9" data-kt-buttons="true" data-kt-buttons-target="[data-kt-button]">
														<!--begin::Col-->
														<div class="col-md-4 col-lg-12 col-xxl-4">
															<label class="btn btn-outline btn-outline-dashed btn-outline-default active d-flex text-start p-6" data-kt-button="true">
																<!--begin::Radio button-->
																<span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
																	<input class="form-check-input" type="radio" name="usage" value="1" checked="checked" />
																</span>
																<!--end::Radio button-->
																<span class="ms-5">
																	<span class="fs-4 fw-bolder mb-1 d-block">Aberto </span>
																	<span class="fw-bold fs-7 text-gray-600">A tarefa esta Livre para proximo passo</span>
																</span>
															</label>
														</div>
														<!--end::Col-->
														<!--begin::Col-->
														<div class="col-md-4 col-lg-12 col-xxl-4">
															<label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6" data-kt-button="true">
																<!--begin::Radio button-->
																<span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
																	<input class="form-check-input" type="radio" name="usage" value="2" />
																</span>
																<!--end::Radio button-->
																<span class="ms-5">
																	<span class="fs-4 fw-bolder mb-1 d-block">Em progresso</span>
																	<span class="fw-bold fs-7 text-gray-600">A tarefa esta a ser executado</span>
																</span>
															</label>
														</div>
														<!--end::Col-->
														<!--begin::Col-->
														<div class="col-md-4 col-lg-12 col-xxl-4">
															<label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6" data-kt-button="true">
																<!--begin::Radio button-->
																<span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
																	<input class="form-check-input" type="radio" name="usage" value="3" />
																</span>
																<!--end::Radio button-->
																<span class="ms-5">
																	<span class="fs-4 fw-bolder mb-1 d-block">Finalizado</span>
																	<span class="fw-bold fs-7 text-gray-600">Esta tarefa Fui concluido . Aguardando Aprovação</span>
																</span>
															</label>
														</div>
														<!--end::Col-->
													</div>
													<!--end::Row-->
												</div>
												<!--end::Col-->
											</div>
											<!--end::Row-->
											<!--begin::Row-->
											<div class="row mb-8">
												<!--begin::Col-->
												<div class="col-xl-3">
													<div class="fs-6 fw-bold mt-2 mb-3">Nota de alerta </div>
												</div>
												<!--end::Col-->
												<!--begin::Col-->
												<div class="col-xl-9">
													<textarea name="notes" class="form-control form-control-solid" rows="5">Sem notas de alerta para o supervisor </textarea>
												</div>
												<!--end::Col-->
											</div>
											<!--end::Row-->
											 
											<!--begin::Row-->
											<div class="row mb-8">
												<!--begin::Col-->
												<div class="col-xl-3">
													<div class="fs-6 fw-bold mt-2 mb-3">Notificações de uso excessivo</div>
												</div>
												<!--end::Col-->
												<!--begin::Col-->
												<div class="col-xl-9">
													<!--begin::Wrapper-->
													<div class="d-flex fw-bold h-100">
														<!--begin::Checkbox-->
														<div class="form-check form-check-custom form-check-solid me-9">
															<input class="form-check-input" type="checkbox" value="" id="email" />
															<label class="form-check-label ms-3" for="email">Email</label>
														</div>
														<!--end::Checkbox-->
														<!--begin::Checkbox-->
														<div class="form-check form-check-custom form-check-solid">
															<input class="form-check-input" type="checkbox" value="" id="phone" checked="checked" />
															<label class="form-check-label ms-3" for="phone">Phone</label>
														</div>
														<!--end::Checkbox-->
													</div>
													<!--end::Wrapper-->
												</div>
												<!--end::Col-->
											</div>
											<!--end::Row-->
											<!--begin::Row-->
											<div class="row">
												<!--begin::Col-->
												<div class="col-xl-3">
													<div class="fs-6 fw-bold mt-2 mb-3">Permitir alterações</div>
												</div>
												<!--end::Col-->
												<!--begin::Col-->
												<div class="col-xl-9">
													<!--begin::Switch-->
													<div class="form-check form-switch form-check-custom form-check-solid">
														<input class="form-check-input" type="checkbox" value="" id="allowchanges" checked="checked" />
														<label class="form-check-label fw-bold text-gray-400 ms-3" for="allowchanges">Permitida</label>
													</div>
													<!--end::Switch-->
												</div>
												<!--end::Col-->
											</div>
											<!--end::Row-->
										</div>
										<!--end::Card body-->
										<!--begin::Card footer-->
										<div class="card-footer d-flex justify-content-end py-6">
											<button type="reset" class="btn btn-light btn-active-light-primary me-2">Descartar</button>
                                            <button type="submit" class="btn btn-primary">Salvar alterações</button>
										</div>
										<!--end::Card footer-->
									</div>
									<!--end::Card-->
								</form>
								<!--end:Form-->
                            </div>
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Post-->
                </div>

            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>

</body>